{
  "trailingComma": "none",
  "semi": true,
  "overrides": [
    {
      "files": [
        "**/*.css",
        "**/*.scss",
        "**/*.html"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "tabWidth": 2
}
